public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Support sharp on Alpine Linux (musl)
supportedArchitectures.os=darwin,linux
supportedArchitectures.cpu=x64,arm64
supportedArchitectures.libc=glibc,musl